{% extends 'netcutterform/base.html' %}



<!-- Text or elements for the left panel -->
{% block left-panel %}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec dapibus justo, vel fringilla leo. In ante eros, facilisis at justo nec, molestie volutpat mauris. Vestibulum condimentum neque vel egestas varius. Vivamus venenatis ut purus congue posuere. Vivamus et posuere neque. 
	</p>
{% endblock left-panel %}



<!-- Text or elements for the right panel -->
{% block right-panel %}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec dapibus justo, vel fringilla leo. In ante eros, facilisis at justo nec, molestie volutpat mauris. Vestibulum condimentum neque vel egestas varius. Vivamus venenatis ut purus congue posuere. Vivamus et posuere neque. 
	</p>
{% endblock right-panel %}